{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/students/style.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ app_link_text }} form</title>
</head>

<body>
  <h2>Operation status: {{ text }}</h2>
  <br><a class="text" href="/">Back to home</a>
  <br><a class="text" href='{{ app_list }}'>{{ app_link_text }} list</a>
  <br><a class="text" href="admin/">Admin site</a>
</body>
</html>

<style type="text/css">
	a {
    	text-decoration: none;
  	}

  	a:hover {
		text-decoration: underline;
	}
</style>