{% extends "base.html" %}

{% block content %}
    <h2>Students</h2>
    <table class="table" >
        <thead class="table-dark">
            <tr>
                {% for field in fields %}
                    <th align="left">{{ field.name.title }}</th>
                {% endfor %}
                <th align="left">Edit action</th>
                <th align="left">Delete action</th>
	        </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                {% for k,v in student.items %}
                    {% if k != '_state' %}
                        {% if k != 'group_id_id' %}
                            <td>{{ v }}</td>
                        {% else %}
                            <td><a href="{% url 'get-group' v %}">{{ v }}</a></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <td>
                    <a href="{% url 'edit-student' student.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete-student' student.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

