<!-- <div class="contents">
  <form id="signup_form" action="/basecamp/free/signup/account" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="vU8HqSXR3fWanDOltzwJhiaht6Cc2MfSxpfCgNJqqUIAPZjB5AqYFqWmxkR2ENHSVRDiuodyn7eb6QfXmNWjMA==" />
    <div class="account section">
        <div class="offer_to_sign_in">
      <strong>Already have a Basecamp, Highrise, Backpack or Campfire account?</strong><br />
      <a href="https://launchpad.37signals.com/authenticate?product=basecamp&amp;redirect_uri=https%3A%2F%2Fsignup.37signals.com%2Fbasecamp%2Ffree%2Fsignup%2Fsession">Sign in here</a> to skip this form and use the username you already have.
    </div>

    <h3 class="step" style="padding-left:0;">A few details and you're on your way</h3>

  <fieldset style="border: 0;">
      <div class="floating-placeholder push_half--bottom">
        <input placeholder="First name" class="credit-card-form__field floating-placeholder__input" type="text" name="signup[first_name]" id="signup_first_name" />
        <label class="floating-placeholder__label">First name</label>
      </div>

      <div class="field floating-placeholder">
        <input placeholder="Last name" class="credit-card-form__field floating-placeholder__input" type="text" name="signup[last_name]" id="signup_last_name" />
        <label class="floating-placeholder__label">Last name</label>
      </div>

      <div class="field floating-placeholder">
        <input placeholder="Email" class="credit-card-form__field floating-placeholder__input" type="text" name="signup[email_address]" id="signup_email_address" />
        <label class="floating-placeholder__label">Email</label>
      </div>

    <div class="field floating-placeholder">
      <input placeholder="Company" class="credit-card-form__field floating-placeholder__input" type="text" name="signup[company_name]" id="signup_company_name" />
      <label class="floating-placeholder__label">Company</label>
      <div>(Or non-profit, organization, group, school, etc.)</div>
    </div>

  </fieldset>

  <fieldset class="credentials">
    <legend>Now choose a username &amp; password</legend>

    <div class="field floating-placeholder">
      <input placeholder="Username" class="credit-card-form__field floating-placeholder__input" autocomplete="off" type="text" name="signup[username]" id="signup_username" />
      <label class="floating-placeholder__label">Username</label>
      <div>This is what you&rsquo;ll use to sign in.</div>
    </div>

    <div class="field floating-placeholder">
      <input placeholder="Password" class="credit-card-form__field floating-placeholder__input" type="password" name="signup[password]" id="signup_password" />
      <label class="floating-placeholder__label">Password</label>
      <div>8 characters or longer with at least one number is safest.</div>
    </div>

    <div class="field floating-placeholder">
      <input placeholder="Confirm password" class="credit-card-form__field floating-placeholder__input" type="password" name="signup[password_confirmation]" id="signup_password_confirmation" />
      <label class="floating-placeholder__label">Confirm password</label>
    </div>

    <p id="password_error" class="error" style="display:none">
      Whoops: Your passwords don't match. Please enter them again.
    </p>
  </fieldset>


    </div>



    <div class="clear"></div>

    <div class="amount ">
        <p class="instruction">
          <strong>You have selected the Free plan.</strong>
          There is no time limit on the free plan — you can use it for free as long as you'd like.
          You can always upgrade to a paying plan later if you need multiple projects, more file storage, etc.
        </p>
    </div>

    <div class="rule last"></div>

    <p class="instruction">
      By clicking <strong></strong> you agree to the
      <a href="http://basecamphq.com/terms" target="_blank">Terms of Service</a>,
      <a href="http://basecamphq.com/privacy" target="_blank">Privacy</a>, and
      <a href="https://basecamp.com/refund" target="_blank">Refund policies</a>.
    </p>

    <input type="submit" value="Create my account" />
  </form>
</div> -->


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ header }}</title>
</head>

<body>
   
  <h2>{{ header }}</h2>
  <form action='{{ action }}' method="post">
    {% csrf_token %}
    
    <div>
    {% for field in form %}
      <div>
        <p class="text field_item">{{ field.label_tag }}</p>
        <div class="field_item">{{ field }}</div>
      </div>
    {% endfor %}
    </div>
    
    {% if messages %}
      {% for message in messages %}
        <h2 class="errorMsg">{{ message }}</h2>
      {% endfor %}
    {% endif %}
    
    <input class="text" type="submit" value="Submit">
  </form>
  <br><a class="text" href="/">Back to Home</a>
  <br><a class="text" href='{{ app_list }}'>{{ app_link_text }} list</a>
  <br><a class="text" href="admin/">Admin site</a>
</body>
</html>

<style type="text/css">
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .text {
    font-family: Verdana, fantasy;
    font-weight: 200;
    font-size: large;
    
  }

  .field_item {
    padding: 0px;
    margin: 0px;
  }

  h2.errorMsg {
    color: red;
  }
</style>

