{% extends "base.html" %}
{% block content %}
<div>
    <br><a href="{% url 'contact-us' %}">Contact us</a>
    <br><a href="{% url 'list-currencies' %}">Currencies</a>
	<br><h1 style="font-size: 40px">Hello, world!</h1>
	<br><h2>Map of my site:</h2>
	<br><a href="admin/" title="Admin tools">Admin site</a>
	<br><h2>Students' section</h2>
	<br><a href="{% url 'students:list' %}" title="This link shows all students">List</a>
	<br><a href="{% url 'students:get' 1 %}" title="This link shows specified student by id">Get</a>
	<br><a href="{% url 'students:create' %}" title="This link allows to create a student">Create</a>
	<br><a href="{% url 'students:edit' 1 %}" title="This link allows to edit the student by id">Edit</a>
	<br><a href="{% url 'students:generate' %}" title="By this link it generates 1 new random student">Add 1 student</a>
	<br><a href="{% url 'students:multi-generate' 100 %}" title="By this link you can give to a 'count' parameter some 0 to 100 number and it generates new students, 100 by default">Generate n students</a>
	<br><h2>Groups' section</h2>
	<br><a href="{% url 'groups:list' %}" title="This link shows all groups">List</a>
	<br><a href="{% url 'groups:get' 1 %}" title="This link shows specified group by id">Get</a>
	<br><a href="{% url 'groups:create' %}" title="This link allows to create a group">Create</a>
	<br><a href="{% url 'groups:edit' 1 %}" title="This link allows to edit the group by id">Edit</a>
	<br><h2>Teachers' section</h2>
	<br><a href="{% url 'teachers:list' %}" title="This link shows all teachers">List</a>
	<br><a href="{% url 'teachers:get' 1 %}" title="This link shows specified teacher by id">Get</a>
	<br><a href="{% url 'teachers:create' %}" title="This link allows to create a teacher">Create</a>
	<br><a href="{% url 'teachers:edit' 1 %}" title="This link allows to edit the teacher by id">Edit</a>
	<br><a href="{% url 'teachers:generate' %}" title="By this link it generates 1 new random teacher">Add 1 teacher</a>
	<br><a href="{% url 'teachers:multi-generate' 100 %}" title="By this link you can give to a 'count' parameter some 0 to 100 number and it generates new teachers, 100 by default">Generate n teachers</a>
</div>


<style>
	a {
		text-decoration: none;
		font-family: Gill Sans, sans-serif;
		font-size: 25px;
	}

	a:hover {
		text-decoration: underline;
		font-size: 40px;
	}
</style>
{% endblock %}
