{% extends "base.html" %}

{% block content %}
    <h2>{{ header.title }}s</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
            {% for field in fields %}
                <th align="left">{{ field.name.title }}</th>
            {% endfor %}
                <th align="left">Edit action</th>
                <th align="left">Delete action</th>
            </tr>
        </thead>
        <tbody>
            {% for person in object_list.values %}
            <tr>
                {% for k,v in person.items %}
                    {% if k != 'group_id_id' %}
                        <td>{{ v }}</td>
                    {% else %}
                        <td><a href="{% url 'get-group' v %}">{{ v }}</a></td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a href="{% url 'students:edit' person.id%}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'students:edit' person.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}